body{
    color: rgb(69, 212, 176);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(50, 82, 80);

    
}

#container{

    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 60px;
}

#container p{

    font-size: 30px;
}